footer{
    background: $black40;
    padding: 60px 0;

    .menu{
        a{
            color: $black99;
            text-decoration: none;

            li{
                color: $black99;
                font-family: $font;
                font-size: remcalc(20px);
                list-style: none;
                margin-bottom: 10px;

                span{
                    color: $red;
                    font-size: remcalc(16px);
                }
            }
        }
    }
    p{
        font: normal normal normal 19px/23px $font;
        color: #000000;
        text-transform: uppercase;
    }
}