footer{
    background: $black40;
    padding: 60px 0;

    .menu{
        a{
            color: $black99;
            text-decoration: none;
            transition: ease-in-out .5s;

            li{
                color: $black99;
                font-family: $font;
                font-size: remcalc(20px);
                list-style: none;
                margin-bottom: 10px;
                transition: ease-in-out .5s;

                span{
                    color: $red;
                    font-size: remcalc(16px);
                    transform: rotate(0deg);
                    transition: ease-in-out .5s;
                }
            }
            &:hover{
                color: $red;

                li{
                    color: $red;

                    span{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    p{
        font: normal normal normal 19px/23px $font;
        color: #000000;
        text-transform: uppercase;
    }
}
@media (max-width: 600px){
    footer{
        img{
            display: block;
            margin: 0 auto;
        }
        p{
            text-align: center;
        }
    }
}